{% load static %}

<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'style-profile.css' %}">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

	<script src="https://kit.fontawesome.com/6b20b1c14d.js" crossorigin="anonymous"></script>
	<title>Player Profile</title>
</head>

<body>

	<div class="container">
		<header class="hero">
			<a href="/">
				<i class="fas fa-chevron-circle-left back-btn"></i>
			</a>
			<div class="hero-info">
				<img src="{{ player.headshot.url }}" width="400" >
				<h1 class="name">{{ player.first_name | title }} {{ player.last_name | title }}</h1>
				<p class="relationship"># {{ player.jersey | title }}</p>
			</div>
		</header>

		<section class="contact-info">



			<div class="info-line">
				<i class="fas fa-phone icon-gradient"></i>
				<p class="phone-number">{{ player.school }}</p>
			</div>


			<div class="info-line">
				<i class="fas fa-sms icon-gradient"></i>
				<p class="sms">{{ player.parents }}</p>
			</div>



			<div id="address-info" class="info-line">
				<i id="location" class="fas fa-map-marker-alt icon-gradient"></i>
				<p class="address">{{ player.school }}</p>
			</div>


		</section>



	</div>

</body>

</html>