{% load static %}

<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/6b20b1c14d.js" crossorigin="anonymous"></script>

	<title>Contacts List</title>
</head>

<body>
	<div class="container">

		<header class="header">
			<form action="/" method="GET" class="search-bar" id='search-form'>

				<input type="search-name" class="contact-search" name="search-area" placeholder="Search"
					value={{search_input}}>

				<i onclick="document.getElementById('search-form').submit();" style="padding-left: 5px;"
					class="fas fa-search"></i>

			</form>
		</header>

		<h1 class="contact-name" >Broomfield Blitz Bulldogs</h1>

		<section class="contacts-library">
			<ul class="contacts-list">
				{% for player in players %}

				<a href="{% url 'profile' player.jersey %}" style="text-decoration: none;">
					<div class="contact-section">
						<li class="list__item">
							<img src="/media/{{ player.headshot }}" height="100">
							<p class="contact-name">{{ player.first_name | title }} {{ player.last_name | title }}</p>
							<p class="relationship"># {{ player.jersey | title }}</p>
						</li>
					</div>
				</a>

				<hr>

				{% empty %}
				<h3 style="color:#fff;padding:20px;">No players found...</h3>
				{% endfor %}
			</ul>
		</section>
	</div>
</body>

</html>